.SideBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: 0px;
    left: 0px;
    align-items: center;
    width: 200px;
    height: 100vh;
    background-color: rgba(227, 227, 227, 0.9);
    padding: 10px;
    transition: 0.7s;
    transform: translateX(-70%);
}

.SideBar:hover {
    transform: translateX(0%);
}

.Link_ {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.UserLogo {
    width: 50%;
}

.Title {
    margin-top: 10px;
}

.Hr_ {
    width: 130px;
    margin-bottom: 10px;
}

.DownElement {
    margin-top: auto;
    margin-bottom: 50px;
}
