.AuthForm {
    background-color: rgba(227, 227, 227, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    margin-top: 50px;
    margin-left: calc(50vw - 20vw);
    border: 1px dotted teal;
}

#chooseLoginOrRegister {
    display: flex;
    justify-content: space-around;
}

#buttonChoose {
    border: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: unset;
    font-size: 15px;
    font-weight: bold;
}

#buttonChoose:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
}

#buttonChoose:focus {
    border-bottom: 2px solid rgb(0, 0, 0);
}
